*{
  margin: 0%;
  padding:0%;
  box-sizing: border-box;

}

/*  time for using */

body{
  overflow: hidden;
  background: url(./Components/common/Fondos/fondo\ 1.jpg); /*  time for using */
  background-repeat: no-repeat;
  background-size: cover; 
  position:absolute;
  

}

.uno{
  width: 15%;
  height: 15%;
  margin: 15px;
  border-radius: 10%;
  overflow: hidden;
  
  
}